{{/*
Copyright 2014 Team 254. All Rights Reserved.
Author: pat@patfairbank.com (Patrick Fairbank)

UI for configuring event settings.
*/}}
{{define "title"}}Settings{{end}}
{{define "body"}}
<div class="row justify-content-center">
  {{if .ErrorMessage}}
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{.ErrorMessage}}
  </div>
  {{end}}
  <div class="col-lg-8">
    <div class="card card-body bg-body-tertiary">
      <form method="POST">
        <ul class="nav nav-underline mb-3" id="settingsTabs" role="tablist">
          <li class="nav-item">
            <button class="nav-link" id="event-tab" data-bs-toggle="tab" data-bs-target="#event" role="tab">
              Event
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="game-tab" data-bs-toggle="tab" data-bs-target="#game" type="button" role="tab">
              Game
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="field-tab" data-bs-toggle="tab" data-bs-target="#field" type="button"
              role="tab">
              Field
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="automation-tab" data-bs-toggle="tab" data-bs-target="#automation" type="button"
              role="tab">
              Automation
            </button>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="event" role="tabpanel">
            <fieldset class="mb-4">
              <legend>Event Settings</legend>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Name</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="name" placeholder="{{.Name}}">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Playoff Type</label>
                <div class="col-lg-6">
                  <div class="radio">
                    <label>
                      <input type="radio" name="playoffType" value="DoubleEliminationPlayoff"
                        onclick="updateNumPlayoffAlliances(true);"
                        {{if eq .PlayoffType 0}}checked{{end}}>
                      Double-Elimination (8 alliances)
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="playoffType" value="SingleEliminationPlayoff"
                        onclick="updateNumPlayoffAlliances(false);"
                        {{if eq .PlayoffType 1}}checked{{end}}>
                      Single-Elimination (2-16 alliances)
                    </label>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Number of Alliances</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="numPlayoffAlliances" value="{{.NumPlayoffAlliances}}"
                    {{if eq .PlayoffType 0}}disabled{{end}}>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Round 2 Selection Order</label>
                <div class="col-lg-6">
                  <div class="radio">
                    <label>
                      <input type="radio" name="selectionRound2Order" value="F"
                        {{if eq .SelectionRound2Order "F"}}checked{{end}}>
                      First to Last
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="selectionRound2Order" value="L"
                        {{if eq .SelectionRound2Order "L"}}checked{{end}}>
                      Last to First
                    </label>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Round 3 Selection Order</label>
                <div class="col-lg-6">
                  <div class="radio">
                    <label>
                      <input type="radio" name="selectionRound3Order" value="F"
                        {{if eq .SelectionRound3Order "F"}}checked{{end}}>
                      First to Last
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="selectionRound3Order" value="L"
                        {{if eq .SelectionRound3Order "L"}}checked{{end}}>
                      Last to First
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="selectionRound3Order" value=""
                        {{if eq .SelectionRound3Order ""}}checked{{end}}>
                      None
                    </label>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label" for="selectionShowUnpickedTeams">
                  Show Unpicked Teams On Overlay
                </label>
                <div class="col-lg-1 checkbox">
                  <input type="checkbox" id="selectionShowUnpickedTeams"
                    name="selectionShowUnpickedTeams" {{if .SelectionShowUnpickedTeams}} checked{{end}}>
                </div>
              </div>
            </fieldset>
            <fieldset class="mb-4">
              <legend>Team Info Download</legend>
              <div class="row mb-3">
                <label class="col-lg-6 control-label" for="tbaDownloadEnabled">
                  Enable Team Info Download (From The Blue Alliance)
                </label>
                <div class="col-lg-1 checkbox">
                  <input type="checkbox" id="tbaDownloadEnabled"
                    name="tbaDownloadEnabled" {{if .TbaDownloadEnabled}} checked{{end}}>
                </div>
              </div>
            </fieldset>
            <fieldset class="mb-4">
              <legend>Authentication</legend>
              <p>Configure password to enable authentication, or leave blank to disable.</p>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Password for 'admin' user</label>
                <div class="col-lg-6">
                  <input type="password" class="form-control" name="adminPassword" value="{{.AdminPassword}}">
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend>Database Operations</legend>
              <div>
                <a href="/setup/db/save" class="btn btn-primary">Save Copy of Database</a>
              </div>
              <div class="mt-2">
                <button type="button" class="btn btn-warning" onclick="$('#uploadDatabase').modal('show');">
                  Load Database from Backup
                </button>
              </div>
              <div class="mt-2">
                <button type="button" class="btn btn-danger" onclick="$('#confirmClearDataPlayoff').modal('show');">
                  Clear Playoff/Alliance Data
                </button>
              </div>
              <div class="mt-2">
                <button type="button" class="btn btn-danger"
                  onclick="$('#confirmClearDataQualification').modal('show');">
                  Clear Qualification Data
                </button>
              </div>
              <div class="mt-2">
                <button type="button" class="btn btn-danger" onclick="$('#confirmClearDataPractice').modal('show');">
                  Clear Practice Data
                </button>
              </div>
            </fieldset>
          </div>
          <div class="tab-pane" id="game" role="tabpanel">
            <fieldset class="mb-4">
              <legend>Game-Specific</legend>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Autonomous Period Duration<br/>(seconds)</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="autoDurationSec" value="{{.AutoDurationSec}}">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Pause Duration<br/>(seconds)</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="pauseDurationSec" value="{{.PauseDurationSec}}">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Teleoperated Period Duration<br/>(seconds)</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="teleopDurationSec" value="{{.TeleopDurationSec}}">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Warning Remaining Duration<br/>(seconds)</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="warningRemainingDurationSec"
                    value="{{.WarningRemainingDurationSec}}">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="tab-pane" id="field" role="tabpanel">
            <fieldset class="mb-4">
              <legend>Networking (Restart the server after saving)</legend>
              <p>Enable this setting if you are using a Vivid-Hosting VH-113 access point. This will automatically configure the VH-113's team SSIDs and VLANs.</p>
              <div class="row mb-3">
                <label class="col-lg-8 control-label"
                  for="networkSecurityEnabled">Enable Advanced Networking</label>
                <div class="col-lg-1 checkbox">
                  <input type="checkbox" id="networkSecurityEnabled"
                    name="networkSecurityEnabled" {{if .NetworkSecurityEnabled}} checked{{end}}>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Field Network Adapter</label>
                <div class="col-lg-6">
                  <select class="form-select" name="fieldNetworkAdapter">
                    <option value="" {{if eq .FieldNetworkAdapter ""}}selected{{end}}>
                      Automatic (use system routing)
                    </option>
                    {{if .SelectedAdapterMissing}}
                    <option value="{{.FieldNetworkAdapter}}" selected>
                      Current selection unavailable ({{.FieldNetworkAdapter}})
                    </option>
                    {{end}}
                    {{range .NetworkAdapters}}
                    <option value="{{.Name}}" {{if eq $.FieldNetworkAdapter .Name}}selected{{end}}>
                      {{.Name}} {{if .IPv4Address}}({{.IPv4Address}}){{end}}
                    </option>
                    {{end}}
                  </select>
                  <p class="help-block mt-1">
                    {{if .SelectedAdapterMissing}}
                    Selected adapter not found; Cheesy Arena will fall back to the default route.
                    {{else if .SelectedAdapterIp}}
                    Field device traffic will originate from {{.SelectedAdapterIp}}.
                    {{else}}
                    Choose an adapter to force field traffic off Wi-Fi/different NICs when multiple networks are active.
                    {{end}}
                  </p>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">AP Address</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="apAddress" value="{{.ApAddress}}" placeholder="10.0.100.2">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">AP API Password (Generally Blank)</label>
                <div class="col-lg-6">
                  <input type="password" class="form-control" name="apPassword" value="{{.ApPassword}}">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">AP Channel (6 GHz)</label>
                <div class="col-lg-6">
                  <select class="form-select" name="apChannel" value="{{.ApChannel}}">
                    {{range $i, $j := seq 29}}
                    <option value="{{(add 5 (multiply $i 8))}}"
                      {{if eq $.ApChannel (add 5 (multiply $i 8))}} selected{{end}}>
                      {{(add 5 (multiply $i 8))}}
                    </option>
                    {{end}}
                  </select>
                </div>
              </div>
            </fieldset>
            <fieldset class="mb-4">
              <legend>Managed Switches</legend>
              <p>Enable these settings if you are using TP-Link Easy Smart Managed switches. A custom cURL api was hard coded for these specific switches. This setting only works
                if advanced networking is enabled above.</p>

              <div class="row mb-3">
                <label class="col-lg-8 control-label"
                  for="coreSwitchManagementEnabled">Core Switch Management</label>
                <div class="col-lg-1 checkbox">
                  <input type="checkbox" id="coreSwitchManagementEnabled"
                    name="coreSwitchManagementEnabled" {{if .CoreSwitchManagementEnabled}} checked{{end}}>
                </div>
              </div>              
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Core Switch Address</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="coreSwitchAddress" value="{{.CoreSwitchAddress}}" placeholder="10.0.100.10">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Core Switch Password</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="coreSwitchPassword" value="{{.CoreSwitchPassword}}" placeholder="password">
                </div>
              </div>      

              <div class="row mb-3">
                <label class="col-lg-8 control-label"
                  for="redTeamSwitchManagementEnabled">Red Team Switch Management</label>
                <div class="col-lg-1 checkbox">
                  <input type="checkbox" id="redTeamSwitchManagementEnabled"
                    name="redTeamSwitchManagementEnabled" {{if .RedTeamSwitchManagementEnabled}} checked{{end}}>
                </div>
              </div>              
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Red Team Switch Address</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="redTeamSwitchAddress" value="{{.RedTeamSwitchAddress}}" placeholder="10.0.100.11">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Red Team Switch Password</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="redTeamSwitchPassword" value="{{.RedTeamSwitchPassword}}" placeholder="password">
                </div>
              </div>      

              <div class="row mb-3">
                <label class="col-lg-8 control-label"
                  for="redFMSSwitchManagementEnabled">Red FMS Switch Management</label>
                <div class="col-lg-1 checkbox">
                  <input type="checkbox" id="redFMSSwitchManagementEnabled"
                    name="redFMSSwitchManagementEnabled" {{if .RedFMSSwitchManagementEnabled}} checked{{end}}>
                </div>
              </div>              
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Red FMS Switch Address</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="redFMSSwitchAddress" value="{{.RedFMSSwitchAddress}}" placeholder="10.0.100.12">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Red FMS Switch Password</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="redFMSSwitchPassword" value="{{.RedFMSSwitchPassword}}" placeholder="password">
                </div>
              </div>                 

              <div class="row mb-3">
                <label class="col-lg-8 control-label"
                  for="blueTeamSwitchManagementEnabled">Blue Team Switch Management</label>
                <div class="col-lg-1 checkbox">
                  <input type="checkbox" id="blueTeamSwitchManagementEnabled"
                    name="blueTeamSwitchManagementEnabled" {{if .BlueTeamSwitchManagementEnabled}} checked{{end}}>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Blue Team Switch Address</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="blueTeamSwitchAddress" value="{{.BlueTeamSwitchAddress}}" placeholder="10.0.100.13">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Blue Team Switch Password</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="blueTeamSwitchPassword" value="{{.BlueTeamSwitchPassword}}" placeholder="password">
                </div>
              </div>                 

              <div class="row mb-3">
                <label class="col-lg-8 control-label"
                  for="blueFMSSwitchManagementEnabled">Blue FMS Switch Management</label>
                <div class="col-lg-1 checkbox">
                  <input type="checkbox" id="blueFMSSwitchManagementEnabled"
                    name="blueFMSSwitchManagementEnabled" {{if .BlueFMSSwitchManagementEnabled}} checked{{end}}>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Blue FMS Switch Address</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="blueFMSSwitchAddress" value="{{.BlueFMSSwitchAddress}}" placeholder="10.0.100.14">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Blue FMS Switch Password</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="blueFMSSwitchPassword" value="{{.BlueFMSSwitchPassword}}" placeholder="password">
                </div>
              </div>
            </fieldset>
            <fieldset class="mb-4">
              <div class="row mb-3">
                <legend>Station Stop Boxes</legend>
                <p>Enable this to process physical E-Stop and A-Stop button reports from the station Stop Boxes.</p>
                <label class="col-lg-8 control-label" for="useStationRpiStops">Enable Station Stop Boxes</label>
                <div class="col-lg-1 checkbox">
                  <input type="checkbox" id="useStationRpiStops" name="useStationRpiStops"
                    {{if .UseStationRpiStops}} checked{{end}}>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Station Stop Box Secret</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="stationRpiSecret"
                    value="{{.StationRpiSecret}}" placeholder="Optional shared secret">
                  <p class="help-block">If set, the Stop Boxess must include this token when calling the stop API.</p>
                </div>
              </div>
              <div class="row mb-3">
                <legend>Scrimmage Match Mode</legend>
                <p>When checked, the field will not load the next match automatically – matches only
                change when you explicitly load them, and robots / driverstations remain connected otherwise.</p>
                <p>
                  Enable this when running manual practice or unstructured scrimmages to prevent automatic match loading.
                </p>
                <label class="col-lg-8 control-label" for="manualMatchAdvance">
                  Enable Scrimmage Match Mode
                </label>
                <div class="col-lg-1 checkbox">
                  <input type="checkbox" id="manualMatchAdvance" name="manualMatchAdvance"
                    {{if .ManualMatchAdvance}} checked{{end}}>
                </div>
              </div>
              <div class="row mb-3">
                <legend>Driver Station Lite Mode</legend>
                <p>When enabled, the Driver Station software will prompt teams to allow Cheesy Arena to connect rather
                  than automatically connecting, and will preserve the ability to use the spacebar for robot
                  disablement. Consider enabling this setting when physical E-Stop buttons are not present.</p>
                <label class="col-lg-8 control-label" for="useLiteUdpPort"> Lite Mode </label>
                <div class="col-lg-1 checkbox">
                  <input type="checkbox" id="useLiteUdpPort" name="useLiteUdpPort"
                    {{if .UseLiteUdpPort}} checked{{end}}>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="tab-pane" id="automation" role="tabpanel">
            <fieldset class="mb-4">
              <legend>Match Video Recording</legend>
              <p>
                If you are using a Blackmagic HyperDeck device to record match video, enter the device IP address(es)
                here
                to have Cheesy Arena automatically start and stop recording for each match. Separate multiple addresses
                with
                a comma.
              </p>
              <div class="row mb-3">
                <label class="col-lg-6 control-label">Blackmagic Addresses</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="blackmagicAddresses" value="{{.BlackmagicAddresses}}">
                </div>
              </div>
            </fieldset>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-3 align-items-center">
              <button type="submit" class="btn btn-primary">Save All Settings</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
</div>
<div id="uploadDatabase" class="modal" style="top: 20%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Choose Backup File</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <form class="form-horizontal" action="/setup/db/restore" enctype="multipart/form-data" method="POST">
        <div class="modal-body">
          <p>Select the database file to load from. <b>This will overwrite any existing data.</b></p>
          <input type="file" name="databaseFile">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Load Database from Backup</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="confirmClearDataPlayoff" class="modal" style="top: 20%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to clear all playoff match and alliance selection data?</p>
        <p>The database will automatically be backed up.</p>
      </div>
      <div class="modal-footer">
        <form class="form-horizontal" action="/setup/db/clear/playoff" method="POST">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Clear Playoff/Alliance Data</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="confirmClearDataQualification" class="modal" style="top: 20%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to clear all qualification match and ranking data?</p>
        <p>The database will automatically be backed up.</p>
      </div>
      <div class="modal-footer">
        <form class="form-horizontal" action="/setup/db/clear/qualification" method="POST">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Clear Qualification Data</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="confirmClearDataPractice" class="modal" style="top: 20%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to clear all practice match data?</p>
        <p>The database will automatically be backed up.</p>
      </div>
      <div class="modal-footer">
        <form class="form-horizontal" action="/setup/db/clear/practice" method="POST">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Clear Practice Data</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{end}}
{{define "script"}}
<script>
  updateNumPlayoffAlliances = function (isDoubleElimination) {
    const numPlayoffAlliances = $("input[name=numPlayoffAlliances]");
    numPlayoffAlliances.prop("disabled", isDoubleElimination);
    if (isDoubleElimination) {
      numPlayoffAlliances.val(8);
    }
  };

  // Handle initial tab selection based on URL fragment.
  document.addEventListener("DOMContentLoaded", function () {
    let hash = window.location.hash;
    if (!hash) {
      hash = "#event";
    }
    const tabTrigger = document.querySelector(`[data-bs-target="${hash}"]`);
    const tab = new bootstrap.Tab(tabTrigger);
    tab.show();

    // Update the browser URL when a tab is selected.
    const tabLinks = document.querySelectorAll(`[data-bs-toggle="tab"]`);
    tabLinks.forEach(function (tabLink) {
      tabLink.addEventListener("shown.bs.tab", function (event) {
        const target = event.target.getAttribute("data-bs-target");
        if (target) {
          history.replaceState(null, "", target);
        }
      });
    });
  });
</script>
{{end}}
